body {
  background-color: #C2FFF9;
  Font-family: "Open sans", sans-serif;
  color: #009DAE;
  text-align: center;
  Margin: 0;
}

h1 {
  font-family: "Poppins", sans-serif;
  display: Inline;
  Width: 50%;
  Margin: 10px 0 0;
  Position: absolute;
  Left: 0;
}

h2 {
  font-family: "Licorice", cursive;
  font-size: 3rem;
  Width: 50%;
  Clear: left;
  Margin: 50 0 20;
}

h3 {
  Font-family: "Poppins", sans-serif;
  font-style: normal;
}

h4 {
  Font-family: "Open sans", sans-serif;
  color: White;
  font-weight: normal;
}

p {
  width: 25%;
  Margin: Auto 10% Auto;
  Position: Absolute;
  font-size: 1.5rem;
  padding-left: 50px;
}

/***********CLASS********/
.btn {
  background: #71DFE7;
  background-image: -webkit-linear-gradient(top, #71DFE7, #009DAE);
  background-image: -moz-linear-gradient(top, #71DFE7, #009DAE);
  background-image: -ms-linear-gradient(top, #71DFE7, #009DAE);
  background-image: -o-linear-gradient(top, #71DFE7, #009DAE);
  background-image: linear-gradient(to bottom, #71DFE7, #009DAE);
  -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 40px;
  font-family: "Open sans", sans-serif;
  color: #ffffff;
  font-size: 23px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.canvas {
  Width: 50px;
  Height: 50px;
  Position: Absolute;
  Right: 560px;
  Top: 20px;
}

.canvas:hover {
  Width: 70px;
  Height: 70px;
  Position: Absolute;
  Right: 560px;
  Top: 10px;
}

.dragonhead {
margin:0;
position:absolute;
right: 0;
top:100px;
}

.dragontail {
margin:0;
position:absolute;
Right:0;
Top:600px;
}

.First-body {
  Height: 600px;
  Padding-top: 12rem;
}

.Line {
  border-left: 3px solid grey;
  height: 900px;
  position: absolute;
  left: 5%;
  top: 25%;
}

.Footer {
  Color: White;
  background-color: #009DAE;
  height: 100px;
  padding-top: 50px;
}

.footer-link {
  Color: White;
  Font-style: "Open Sans", Sans-serif;
}

.glass {
  Width: 50px;
  Height: 50px;
  Position: Absolute;
  Right: 440px;
  Top: 20px;
}

.glass:hover {
  Width: 70px;
  Height: 70px;
  Position: Absolute;
  Right: 440px;
  Top: 10px;
}

.head {
  Height: 1000px;
}

.Home {
  Width: 50px;
  Height: 50px;
  Position: Absolute;
  Right: 680px;
  Top: 20px;
}

.Home:hover {
  Width: 70px;
  Height: 70px;
  Position: Absolute;
  Right: 680px;
  Top: 10px;
}

.ipad {
  Width: 50px;
  Height: 50px;
  Position: Absolute;
  Right: 320px;
  Top: 20px;
}

.ipad:hover {
  Width: 70px;
  Height: 70px;
  Position: Absolute;
  Right: 320px;
  Top: 10px;
}

.ipad2 {
  background-color: #009DAE;
  border-radius: 5px 20px 5px;
  position: absolute;
  left: 50px;
}

.Menu {
  Position: Fixed;
  Right: 0;
  height: 85px;
  Width: 50%;
  margin: 0 0 30px;
  background-color: #009DAE;
  z-index: 7;
}

.Mid-body {
  Height: 100px;
  Padding: 200px 0 100px;
}

.more {
  Width: 50px;
  Height: 50px;
  Position: Absolute;
  Right: 80px;
  Top: 20px;
}

.more:hover {
  Width: 70px;
  Height: 70px;
  Position: Absolute;
  Right: 80px;
  Top: 10px;
}

.nature {
  width: 300px;
  Height:300px;
  position:absolute;
  left: 100px;
  top: 900px;
}

.nature:hover {
  width: 600px;
  Height: 600px;

}
.Palette {
  Width: 900px;
  Height: 765px;
  Margin: 0;
  Position: Absolute;
  Right: 0;
  Top: 90px;
}

.sketch {
  Width: 50px;
  Height: 50px;
  Position: Absolute;
  Right: 200px;
  Top: 20px;
}

.sketch:hover {
  Width: 70px;
  Height: 70px;
  Position: Absolute;
  Right: 200px;
  Top: 10px;
}

.year22 {
  position: absolute;
  left: 0;
  top: 1px;
}
