body {
  margin: 0;
  text-align:center;
}

.container {
  background-color: #C2FFF9;
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 2fr 2fr 1fr;
  grid-template-areas: "header"
    "main"
    "contact"
    "footer";
}

header {
  grid-area: "header";
  display:grid;
  margin:0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "Title nav"

}

p {
  width: 50%;
  margin: 10% auto;
  width: 50%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: #009DAE;
  margin: 0;
}

h2 {
  font-family: "Licorice", cursive;
  margin: 15% auto 2%;
  font-size: 3rem;
  color: #009DAE;
}

h3 {
  Font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #009DAE;
}

h4 {
  Font-family: "Open sans", sans-serif;
  color: White;
  font-weight: normal;
}

.Title {
  background-color: #C2FFF9;
  grid-area: "title";
}

nav {
  background-color: #009DAE;
  grid-area: "nav";
  width: 50%;
  border-radius: 8px 0px 0px 8px;
  border-width: 0 0 2px 2px;
  border-color: #1DB9C3;
  border-style: inset;
  position: fixed;
  right: 0;
}

.navimg {
  Width: 50px;
  Height: 50px;
  padding: 4px 5%;
  margin-bottom: 0;
}

.navimg:hover {
  Width: 70px;
  Height: 70px;
}

main {
  background-color: #C2FFF9;
  grid-area: "main";
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "text palette"
}

.Text {
  background-color: #C2FFF9;
  grid-area: "text";
  float:left;
  text-align:center;
}

.Contact {
  background-color: #C2FFF9;
  grid-area: "contact";
  padding: 10%;
  text-align:center;
}

footer {
  background-color: #009DAE;
  grid-area: "footer";
}

.Palette {
  Width: 75%;
  Margin: 2% 0 auto;
}
.palettediv {
  grid-area: "palette";
  padding-top: 25%;
}

.btn {
  background: #71DFE7;
  background-image: -webkit-linear-gradient(top, #71DFE7, #009DAE);
  background-image: -moz-linear-gradient(top, #71DFE7, #009DAE);
  background-image: -ms-linear-gradient(top, #71DFE7, #009DAE);
  background-image: -o-linear-gradient(top, #71DFE7, #009DAE);
  background-image: linear-gradient(to bottom, #71DFE7, #009DAE);
  -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 40px;
  font-family: "Open sans", sans-serif;
  color: #ffffff;
  font-size: 23px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

footer {
  Color: White;
  background-color: #009DAE;
  padding-top: 5%;
}

.footer-link {
  Color: White;
  Font-style: "Open Sans", Sans-serif;
  padding-right:2%;

}

.footp {color:white;
font-size: 1rem;
margin: 10px auto 15px;
width:100%;}

.co {
  margin:0;
}

@media (min-width: 960px) and (max-width: 1616px) {
  .navimg {
    width: 40px;
    height: 40px;
    padding: 4px 3%;
  }

  .Palette {
    Width: 75%;
    padding-top: 10%;
  }
}

@media only screen and (max-width: 667px) {
  .header {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.2fr;
    grid-template-areas: "nav"
      "title";
  }

  .Palette {
    Width: 100%;
    Margin: 2% 0 auto;
    Float: Right;
  }

  p {
    font-size: 1rem;
    width: 100%;
    margin: 0;
  }

  nav {
    width: 100%;
    grid-area:"nav";
  }

  .navimg {
    width: 40px;
    height: 40px;
    padding: 4px 3%;
  }

  .Title {
    width: 100%;
    grid-area: "title";
    margin-top: 20%;
  }
}

@media (min-width: 667px) and (max-width: 960px) {
  .header {
    grid-template-columns: 2fr;
    grid-template-rows: 0.2fr 02fr;
    grid-template-areas: "nav"
      "title";
  }

  .Palette {
    Width: 75%;
    Height: 75%;
    Margin: 2% 0 auto;
    Float: Right;
  }

  p {
    font-size: 1rem;
    width: 100%;
    margin: 0;
  }

  nav {
    width: 100%;
  }

  .navimg {
    width: 40px;
    height: 40px;
    padding: 4px 3%;
  }
  .Title {
    width: 100%;
    grid-area: "title";
    margin-top: 10%;
  }
}
