body {
  margin: 0;
  color: #1DB9C3;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  margin: 0 25%;
  text-align: justify;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: #009DAE;
  width: 25%;
  margin: 0;
}

.container {
  background-color: #C2FFF9;
  height: 300vh;
  display: grid;
  grid-template-columns: 0.4fr 2fr 2fr;
  grid-template-rows: 0.2fr 8fr 0.4fr;
  grid-template-areas: "menu menu menu"
    "main main main"
    "footer footer footer";
}

.menu {
  grid-area: menu;
  display: grid;
  grid-template-columns: 0.4fr 2fr 2fr;
  grid-template-rows: 0.2fr;
  grid-template-areas: "Canvastop title nav";
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 0.4fr 4fr;
  grid-template-rows: 8fr;
  grid-template-areas: "timeline time";
}

Footer {
  grid-area: footer;
  Color: White;
  background-color: #009DAE;
  padding-top: 5%;
  text-align: center;
}

.topimg {
  grid-area: Canvastop;
}

.title {
  grid-area: title;
}

.time {
  grid-area: time;
}

.Canvastop {
  height: 150px;
  width: 150px;
  background-color: #009DAE;
  border-radius: 5px 20px 5px;
  border-style: inset;
  border-color: #1DB9C3;
  padding: 20px;
}

.ipad2 {
  background-color: #009DAE;
  border-radius: 5px 20px 5px;
  border-style: inset;
  border-color: #1DB9C3;
  padding: 10px;
}

nav {
  background-color: #009DAE;
  grid-area: nav;
  width: 50%;
  border-radius: 8px 0px 0px 8px;
  border-width: 0 0 2px 2px;
  border-color: #1DB9C3;
  border-style: inset;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 7;
}

.navimg {
  Width: 50px;
  Height: 50px;
  padding: 4px 5%;
  margin-bottom: 0;
}

.navimg:hover {
  Width: 70px;
  Height: 70px;
}

.timeline {
  grid-area: timeline;
  content: none;
  height: 175%;
  Width: 3px;
  background-color: grey;
  position: absolute;
  Left: 3%;
  Top: 24%;
}

.year {
  list-style: none;
  display: inline;
  padding-bottom: 100px;
  margin-left: 30px;
  font-family: "Open Sans", sans-serif;
  Font-size: 2rem;
  grid-area: year;
}

time {
  margin-top: 10%;
}

.year::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: 2.5%;
  background-color: lightgrey;
  border: 1px solid grey;
  border-radius: 50%;
  z-index: 1;
}

.footer-link {
  Color: White;
  Font-style: "Open Sans", Sans-serif;
}

.dragonhead {
  margin: 0;
  top: 100px;
  position: absolute;
  right: 0;
}

.dragontail {
  margin: 0;
  Top: 600px;
  position: absolute;
  right: 0;
}

.nature {
  width: 300px;
  Height: 300px;
  padding-left: 30px;
}

.nature:hover {
  width: 600px;
  Height: 600px;
  padding: 0;
}

.p2 {
  display: inline;
  position: absolute;
  right: 30px;
  top: 800px;
  width: 25%;
}

.p3 {
  display: inline;
  margin: 0;
}

.Fairy {
  Width: 300px;
  Height: 425px;
  padding-right: 30px;
  Position: Absolute;
  Right: 5px;
  top: 210%;
}

.Fairy:hover {
  Width: 600px;
  Height: 849px;
  padding-left: 100px;
}

ul li {
  list-style: none;
  width: 50%;
  padding-bottom: 100px;
}


/*Foooter*/
footer {
  Color: White;
  background-color: #009DAE;
  padding-top: 5%;
}

.footer-link {
  Color: White;
  Font-style: "Open Sans", Sans-serif;
  padding-right:2%;

}

.co {
  margin:0;
}

/************************MEDIA***************************/
@media (min-width: 1013px) and (max-width: 1616px) {
  .navimg {
    width: 40px;
    height: 40px;
    padding: 4px 4%;
  }

  .navimg:hover {
    width: 50px;
    height: 50px;
  }
}

@media (min-width:785px) and (max-width: 1013px) {
  .container {
    height:400vh;
    display: grid;
    grid-template-columns: 2.2fr 2.2fr;
    grid-template-rows: 1.5fr 7fr 0.4fr;
    grid-template-areas: "menu menu"
      "main main"
      "footer footer"
  }

  .menu {
    grid-area: "menu";
    display: grid;
    grid-template-columns: 2.2fr 2.2fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: "nav nav"
      "Canvastop title";
  }

  nav {
    width: 100%;
  }

  .navimg {
    width: 40px;
    height: 40px;
    padding: 4px 4%;
  }

  h1 {
    display: block;
    width: 100%;
  }

  .dragonhead {
    margin: 0;
    top: 300px;
    position: absolute;
    right: 0;
  }

  .dragontail {
    margin: 0;
    Top: 800px;
    position: absolute;
    right: 0;
    top: 900px;
  }

  .nature {
    width: 300px;
    Height: 300px;
    padding-left: 30px;
    margin-top: 500px;
  }

  .nature:hover {
    width: 500px;
    Height: 500px;
    padding: 0;
    Position: absolute;
    left: 4%;
  }

  p {
    display: block;
    width: 100%;
    margin-left: 0;
  }

  .p1 {
    display: inline;
    float: left;
  }

  .p2 {
    display: inline;
    position: absolute;
    right: 0;
    top: 1500px;
    width: 40%;
    margin-right: 10px;
  }

  .p3 {
    display: inline;
    margin: 0
  }

  .Fairy {
    Width: 300px;
    Height: 425px;
    padding-right: 30px;
    Position: Absolute;
    Right: 5px;
    top: 250%;
  }

  .Fairy:hover {
    Width: 400px;
    Height: 580px;
    padding-left: 10px;
    position: absolute;
    right: 0;
  }

  .timeline {
    height: 215%;
    Width: 3px;
    background-color: grey;
    position: absolute;
    Left: 3%;
    Top: 48%;
  }

  .year::before {
    left: 2.1%;
  }
}

@media only screen and (max-width: 785px) {
  .container {
    display: grid;
    height:550vh;
    grid-template-columns: 2.2fr 2.2fr;
    grid-template-rows: 0.4fr 6fr 0.4fr;
    grid-template-areas: "menu menu"
      "main main"
      "footer footer"
  }

  .menu {
    grid-area: menu;
    display: grid;
    grid-template-columns: 2.2fr 2.2fr;
    grid-template-rows: 0.2fr 0.8fr;
    grid-template-areas: "nav nav"
      "Canvastop title";
  }

  nav {
    width: 100%;
    grid-area:"nav";
  }

  .title {
    grid-area: "title";
  }

  .topimg {grid-area: "Canvastop";}

  .navimg {
    width: 40px;
    height: 40px;
    padding: 4px 3%;
  }

  h1 {
    display: block;
    width:100%;
  }

  .dragonhead {
    width: 450px;
    height: 200px;
    top: 10%;
  }

  .dragontail {
    width: 200px;
    height: 200px;
    Top:750px;
  }

  .nature {
    width: 400px;
    Height: 400px;
    text-align:center;
    position:static;
    padding-right: 5%;
    padding-top: 15%;
  }
  .nature:hover{
    width: 400px;
    Height: 400px;
    text-align:center;
    position:static;
    padding-top: 15%;
  }

  p {
    font-size: 2rem;
    margin:0;
    width:100%;
  }

  .p2 {
    width:100%;
    position:static;
  }

  .Fairy {
    Width: 300px;
    Height: 425px;
    position:static;
    bottom:0;
  }

  .Fairy:hover {
    Width: 300px;
    Height: 425px;
    padding-left: 10px;
  ;
  }

  .timeline {
    height: 250%;
    Width: 3px;
    background-color: grey;
    position: absolute;
    Left: 3%;
    Top: 35%;
  }

  .year::before {
    left: 1.5%;
  }

      ul li {
      list-style: none;
      width: 90%;

  padding: 5% 5%;
    }
  }
